body {
    
}

#banner {
    widht: 100%;
}

.principal {
    background: #FFFFFF
    padding: 30px;
    text-align: center;
}

.titulo-principal {
    padding-left: 25px;
}

.titulo-centralizado {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 25px;
}

em strong {
    color: blue;
}

.itens {
    font-style: italic;

.benéficos {
    background: FFFFFF;
    padding: 25px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    margin-right: 20%;
}

.imagembeneficios {
    widht: 60%
}
